run = "python main.py"
modules = ["python-3.10"]

[nix]
channel = "stable-23_11"

[packager]
language = "python310"

[packager.features]
packageSearch = true
guessImports = true

[deployment]
run = ["python", "main.py"]
target = "python"
